.embed-container iframe {
    height: 100%;
}

.icon-wrapper {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.embed-container {
    height: 700px;
}

@media (max-width: 1200px) {
    .embed-container {
        height: 50vw;
    }
}
@media (max-width: 768px) {
    .embed-container {
        height: 60vw;
    }
}
@media (max-width: 576px) {
    .embed-container {
        height: 70vw;
    }
}

.gallery-swiper.swiper-container {
    overflow: hidden;
    position: relative;
}

.thumbnails-swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    cursor: pointer;
}

.thumbnails-swiper .swiper-slide-thumb-active {
    opacity: 1;
}

.thumbnails-swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.thumbnails-swiper .swiper-wrapper {
    justify-content: center;
}

.thumbnails-swiper.swiper {
    width: 100%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.fullscreen-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1050;
}
.fullscreen-modal .swiper-container {
    width: 90%;
    height: 90%;
    overflow: hidden;
}
.fullscreen-modal .close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.fullscreen-modal .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 26px !important;
    color: black;
}

.gallery-swiper .swiper-button-next,
.gallery-swiper .swiper-button-prev,
.fullscreen-modal .swiper-button-next,
.fullscreen-modal .swiper-button-prev {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.gallery-swiper .swiper-button-next:hover,
.gallery-swiper .swiper-button-prev:hover,
.fullscreen-modal .swiper-button-next:hover,
.fullscreen-modal .swiper-button-prev:hover {
    background-color: rgba(255, 255, 255, 0.7);
}


.carousel-control-prev,
.carousel-control-next {
    bottom: initial;
    top: 50%;
    transform: translateY(-50%);
}