:root {
    --bs-btn-bg: #873c83;
    --bs-btn-border-color: #873c83;
    --bs-btn-hover-border-color: #c364be;
    --bs-btn-hover-bg: #c364be;
}

.top-navbar {
    margin-left: auto;
    margin-right: auto
}

.navbar-nav {
    display: flex;
    gap: 2rem;

.nav-item {
    font-size: 1.3rem;
    color: black;
    font-weight: 700;
}

.nav-link {
    color: black;
}

.nav-link.active.text-primary {
    color: #873c83 !important;
}

.navbar-toggler {
    border: none;
    display: none;
}

.offcanvas-header {
    justify-content: flex-end;
}

@media (max-width: 991px) {
    .navbar-toggler {
        display: block;
    }
}